body {
    background: #F3F3F3; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.profile-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 2rem;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    border: 3px solid #2F80ED;
}

.separator {
    margin: 20px 0;
    border-bottom: 1px solid #E0E0E0;
}

.social-icons {
    margin: 20px 0;
    font-size: 1.5em;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #2F80ED;
}


.social-icons a:hover i {
    transform: scale(1.2);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.project-card {
    background: #F8F9FA;
    padding: 15px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.project-card img {
    width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
}

.project-card h3 {
    text-align: center;
    margin: 8;
    color: #333;
    font-size: 1.2em;
}

.project-card p {
    color: #666;
    font-size: 0.9em;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2F80ED;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-link:hover {
    background-color: #2a6dbc;
}

.center {
    text-align: center;
}